body {
  background-color: #020213;
  color: rgb(206, 206, 206);
  font-size: 28px;
  .App {
    margin: 80px;
    display: flex;
    flex-flow: column nowrap;
    // align-items: center;
    div {
      margin-bottom: 60px;
      max-width:700px;
    }
    // .description{
    //   max-width:700px;
    // }
    img {
      max-width: 700px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 20px;
        padding: 0;
      }
    }
    a,
    a:hover,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media only screen and (max-width: 700px) {
  body {
    .App {
      margin: 4%;
      font-size: 20px;
      div{
        margin-bottom: 40px;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
