@font-face{
  font-family: 'NimbusSanL-Regu';
  src: local("NimbusSanL-Regu"), url('fonts/NimbusSanL-Regu.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'NimbusSanL-Regu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
